body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #16181b;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* 支援觸控滾動 */
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.carousel-slide {
    flex: 0 0 100%; /* 每張照片佔據整個容器寬度 */
    width: 100%;
    height: 100%;
    scroll-snap-align: center; /* 確保每次滑動停留在一張照片上 */
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-in-out;
}