body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #1d1d1d;
}
p{
    color: #fff;
}
nav{
    color: #fff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1d1d1d;
}
.ul{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
    background: #1d1d1d;
}
.link{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 0.5rem;
    position: relative;
}
footer{
    background: #1d1d1d;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}